* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.card {
  width: 90%;
  max-width: 450px;
  background: linear-gradient(135deg, #7141ca, #45ce5c);
  margin: 130px auto 0;
  text-align: center;
  border-radius: 20px;
  padding: 40px 35px;
}
.search {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.search_bar {
  border: none;
  outline: none;
  height: 60px;
  border-radius: 20px;
  background: #ebfffc;
  padding: 10px 25px;
  color: #555;
  font-size: 18px;
  flex: 1;
  margin-right: 16px;
}
.search_btn {
  border: none;
  outline: none;
  border-radius: 50%;
  background: #ebfffc;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search_btn img {
  width: 16px;
}
.weather_icon {
  width: 8vw;
  margin-top: 40px;
}
.weather h1 {
  color: #fff;
  font-size: 4vw;
  font-weight: 500;
  margin-top: 20px;
}
.weather h2 {
  color: #fff;
  font-size: 2vw;
  font-weight: 500;
  margin-top: 20px;
}
.other_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.col img {
  width: 2vw;
  margin-right: 10px;
}

.humid,.wind{
    font-size: 28px;

}
.col p {
    color: #fff;
    text-align: left;
    letter-spacing: 1.15px;
  }